<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0014)about:internet -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>holly keomany</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">td img {display: block;}</style>

</head>
<div>
<body bgcolor="#ffffff">

	<table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="1020">

  <tr>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="100" height="1" alt="" /></td>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="268" height="1" alt="" /></td>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="1" height="1" alt="" /></td>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="115" height="1" alt="" /></td>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="81" height="1" alt="" /></td>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="96" height="1" alt="" /></td>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="359" height="1" alt="" /></td>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="1" height="1" alt="" /></td>
  </tr>

  <tr><!-- row 1 -->
   <td colspan="7"><%= image_tag "http://6565trigo.files.wordpress.com/2014/02/portfolio_r1_c1.png" %></td>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="1" height="97" alt="" /></td>
  </tr>
  <tr><!-- row 2 -->
<div class="img"><td rowspan="2" colspan="3"><a href="http://6565trigo.files.wordpress.com/2014/03/4-thumb.jpg" target="_blank">
<%= image_tag "portfolio_r2_c1.png" %></a></td></div>
   <td colspan="3"><%= image_tag "portfolio_r2_c4.png", alt: "art project" %></td>
   <div class="img"><td rowspan="3"><a href="http://6565trigo.files.wordpress.com/2014/03/supply-room-copy-small-logo.jpg" target="_blank"><%= image_tag "portfolio_r2_c7.png"  %></a></td></div>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="1" height="160" alt="" /></td>
  </tr>
  <tr><!-- row 3 -->
   <td rowspan="2" colspan="3"><%= image_tag "portfolio_r3_c4.png" %></td>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="1" height="331" alt="" /></td>
  </tr>
  <tr><!-- row 4 -->
   <td rowspan="2" colspan="2"><%= image_tag "portfolio_r4_c1.png" %></td>
   <td><%= image_tag "portfolio_r4_c3.png" %></td>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="1" height="80" alt="" /></td>
  </tr>
  <tr><!-- row 5 -->
  <td colspan="3"><%= image_tag "portfolio_r5_c3.png" %></td>
    <div class="img"><td rowspan="2" colspan="2"><a href="http://6565trigo.files.wordpress.com/2014/03/california-homes-2-1.jpg" target="_blank"><%= image_tag "portfolio_r5_c6.png" %></a></td></div>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="1" height="38" alt="" /></td>
  </tr>
  <tr><!-- row 6 -->
   <td rowspan="2"><%= image_tag "portfolio_r6_c1.png" %></td>
   <div class="img"><td rowspan="2" colspan="3"><a href="http://6565trigo.files.wordpress.com/2014/03/tc_htmlemailtemps_r1.jpg" target="_blank"><%= image_tag "portfolio_r6_c2.png" %></a></td></div>
   <td rowspan="2"><%= image_tag "portfolio_r6_c5.png" %></td>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="1" height="287" alt="" /></td>
  </tr>
  <tr><!-- row 7 -->
   <div class="img"><td colspan="2"><a href="http://6565trigo.files.wordpress.com/2014/03/quote-thumb.jpg" target="_blank"><%= image_tag "portfolio_r7_c6.png" %></a></td></div>
   <td><img src="http://6565trigo.files.wordpress.com/2014/02/spacer.gif" width="1" height="307" alt="" /></td>
  </tr>

</table>
<map name="m_portfolio_r1_c1" id="m_portfolio_r1_c1">
<area shape="rect" coords="1,0,407,88" href="/welcome/index" alt="" />
<area shape="rect" coords="939,43,1018,69" href="http://hollykeomany.carbonmade.com/" target="_blank" alt="more" />
<area shape="rect" coords="880,43,939,69" href="" alt="blog" />
<area shape="rect" coords="778,43,880,69" href="" alt="contact" />
<area shape="rect" coords="707,43,777,69" href="" alt="about" />
</map>
<map name="m_portfolio_r2_c1" id="m_portfolio_r2_c1">
<area shape="rect" coords="38,90,282,427" href="javascript:;" alt="" />
</map>
<map name="m_portfolio_r2_c7" id="m_portfolio_r2_c7">
<area shape="rect" coords="0,23,359,492" href="javascript:;" alt="" />
</map>
<map name="m_portfolio_r3_c4" id="m_portfolio_r3_c4">
<area shape="rect" coords="0,0,251,384" href="javascript:;" alt="" />
</map>
<map name="m_portfolio_r4_c1" id="m_portfolio_r4_c1">
<area shape="rect" coords="130,3,237,55" href="javascript:;" alt="" />
</map>
<map name="m_portfolio_r5_c3" id="m_portfolio_r5_c3">
<area shape="rect" coords="196,0,622,270" href="javascript:;" alt="" />
</map>
<map name="m_portfolio_r5_c6" id="m_portfolio_r5_c6">
<area shape="rect" coords="-1,0,425,270" href="javascript:;" alt="" />
</map>
<map name="m_portfolio_r6_c2" id="m_portfolio_r6_c2">
<area shape="rect" coords="0,0,384,583" href="javascript:;" alt="" />
</map>
<map name="m_portfolio_r6_c5" id="m_portfolio_r6_c5">
<area shape="rect" coords="80,-38,506,232" href="javascript:;" alt="" />
</map>
<map name="m_portfolio_r7_c6" id="m_portfolio_r7_c6">
<area shape="rect" coords="27,0,400,248" href="javascript:;" alt="" />
</map>
</body></div>
</html>
