<img src="http://6565trigo.files.wordpress.com/2014/02/hollykeomany1.jpg" style="position:absolute; top:0px;">
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  
    <td><%= post.title %>
    <br><%= post.text %>
    <br><%= link_to 'should be an image', post_path(post) %>
    <br><%= link_to 'Edit', edit_post_path(post) %>
    <br><%= link_to 'needs to be hidden', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  
<% end %>
</table>